# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [4]:
round(drinks.groupby("continent").beer_servings.mean())

continent
AF     61.0
AS     37.0
EU    194.0
OC     90.0
SA    175.0
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [5]:
drinks.groupby("continent").describe().T

continent                                   AF          AS          EU  \
beer_servings                count   53.000000   44.000000   45.000000
                             mean    61.471698   37.045455  193.777778
                             std     80.557816   49.469725   99.631569
                             min      0.000000    0.000000    0.000000
                             25%     15.000000    4.250000  127.000000
                             50%     32.000000   17.500000  219.000000
                             75%     76.000000   60.500000  270.000000
                             max    376.000000  247.000000  361.000000
spirit_servings              count   53.000000   44.000000   45.000000
                             mean    16.339623   60.840909  132.555556
                             std     28.102794   84.362160   77.589115
                             min      0.000000    0.000000    0.000000
                             25%      1.000000    1.000000   81.000000
                             50%      3.000000   16.000000  122.000000
                             75%     19.000000   98.000000  173.000000
                             max    152.000000  326.000000  373.000000
wine_servings                count   53.000000   44.000000   45.000000
                             mean    16.264151    9.068182  142.222222
                             std     38.846419   21.667034   97.421738
                             min      0.000000    0.000000    0.000000
                             25%      1.000000    0.000000   59.000000
                             50%      2.000000    1.000000  128.000000
                             75%     13.000000    8.000000  195.000000
                             max    233.000000  123.000000  370.000000
total_litres_of_pure_alcohol count   53.000000   44.000000   45.000000
                             mean     3.007547    2.170455    8.617778
                             std      2.647557    2.770239    3.358455
                             min      0.000000    0.000000    0.000000
                             25%      0.700000    0.100000    6.600000
                             50%      2.300000    1.200000   10.000000
                             75%      4.700000    2.425000   10.900000
                             max      9.100000   11.500000   14.400000

continent                                   OC          SA
beer_servings                count   16.000000   12.000000
                             mean    89.687500  175.083333
                             std     96.641412   65.242845
                             min      0.000000   93.000000
                             25%     21.000000  129.500000
                             50%     52.500000  162.500000
                             75%    125.750000  198.000000
                             max    306.000000  333.000000
spirit_servings              count   16.000000   12.000000
                             mean    58.437500  114.750000
                             std     70.504817   77.077440
                             min      0.000000   25.000000
                             25%     18.000000   65.750000
                             50%     37.000000  108.500000
                             75%     65.250000  148.750000
                             max    254.000000  302.000000
wine_servings                count   16.000000   12.000000
                             mean    35.625000   62.416667
                             std     64.555790   88.620189
                             min      0.000000    1.000000
                             25%      1.000000    3.000000
                             50%      8.500000   12.000000
                             75%     23.250000   98.500000
                             max    212.000000  221.000000
total_litres_of_pure_alcohol count   16.000000   12.000000
                             mean     3.381250    6.308333
                             std      3.345688    1.531166
                             min      0.000000    3.800000
                             25%      1.000000    5.250000
                             50%      1.750000    6.850000
                             75%      6.150000    7.375000
                             max     10.400000    8.300000

### Step 6. Print the mean alcohol consumption per continent for every column

In [19]:
temp = drinks.groupby(['continent']).agg({'total_litres_of_pure_alcohol':'mean'})

In [27]:
temp.stack()

continent
AF         total_litres_of_pure_alcohol    3.007547
AS         total_litres_of_pure_alcohol    2.170455
EU         total_litres_of_pure_alcohol    8.617778
OC         total_litres_of_pure_alcohol    3.381250
SA         total_litres_of_pure_alcohol    6.308333
dtype: float64

In [28]:
temp.unstack()

                              continent
total_litres_of_pure_alcohol  AF           3.007547
                              AS           2.170455
                              EU           8.617778
                              OC           3.381250
                              SA           6.308333
dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [15]:
temp = drinks.groupby('continent').agg(['mean', 'min', 'max'])

In [18]:
temp.unstack().reset_index()

                         level_0 level_1 continent           0
0                  beer_servings    mean        AF   61.471698
1                  beer_servings    mean        AS   37.045455
2                  beer_servings    mean        EU  193.777778
3                  beer_servings    mean        OC   89.687500
4                  beer_servings    mean        SA  175.083333
5                  beer_servings     min        AF    0.000000
6                  beer_servings     min        AS    0.000000
7                  beer_servings     min        EU    0.000000
8                  beer_servings     min        OC    0.000000
9                  beer_servings     min        SA   93.000000
10                 beer_servings     max        AF  376.000000
11                 beer_servings     max        AS  247.000000
12                 beer_servings     max        EU  361.000000
13                 beer_servings     max        OC  306.000000
14                 beer_servings     max        SA  333.000000
15               spirit_servings    mean        AF   16.339623
16               spirit_servings    mean        AS   60.840909
17               spirit_servings    mean        EU  132.555556
18               spirit_servings    mean        OC   58.437500
19               spirit_servings    mean        SA  114.750000
20               spirit_servings     min        AF    0.000000
21               spirit_servings     min        AS    0.000000
22               spirit_servings     min        EU    0.000000
23               spirit_servings     min        OC    0.000000
24               spirit_servings     min        SA   25.000000
25               spirit_servings     max        AF  152.000000
26               spirit_servings     max        AS  326.000000
27               spirit_servings     max        EU  373.000000
28               spirit_servings     max        OC  254.000000
29               spirit_servings     max        SA  302.000000
30                 wine_servings    mean        AF   16.264151
31                 wine_servings    mean        AS    9.068182
32                 wine_servings    mean        EU  142.222222
33                 wine_servings    mean        OC   35.625000
34                 wine_servings    mean        SA   62.416667
35                 wine_servings     min        AF    0.000000
36                 wine_servings     min        AS    0.000000
37                 wine_servings     min        EU    0.000000
38                 wine_servings     min        OC    0.000000
39                 wine_servings     min        SA    1.000000
40                 wine_servings     max        AF  233.000000
41                 wine_servings     max        AS  123.000000
42                 wine_servings     max        EU  370.000000
43                 wine_servings     max        OC  212.000000
44                 wine_servings     max        SA  221.000000
45  total_litres_of_pure_alcohol    mean        AF    3.007547
46  total_litres_of_pure_alcohol    mean        AS    2.170455
47  total_litres_of_pure_alcohol    mean        EU    8.617778
48  total_litres_of_pure_alcohol    mean        OC    3.381250
49  total_litres_of_pure_alcohol    mean        SA    6.308333
50  total_litres_of_pure_alcohol     min        AF    0.000000
51  total_litres_of_pure_alcohol     min        AS    0.000000
52  total_litres_of_pure_alcohol     min        EU    0.000000
53  total_litres_of_pure_alcohol     min        OC    0.000000
54  total_litres_of_pure_alcohol     min        SA    3.800000
55  total_litres_of_pure_alcohol     max        AF    9.100000
56  total_litres_of_pure_alcohol     max        AS   11.500000
57  total_litres_of_pure_alcohol     max        EU   14.400000
58  total_litres_of_pure_alcohol     max        OC   10.400000
59  total_litres_of_pure_alcohol     max        SA    8.300000

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame