In [5]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

def unqiue_values_table(df):
    unq_val = df.nunique()
    unq_val_percent = 100 * df.nunique() / len(df)
    unq_val_table = pd.concat([unq_val, unq_val_percent], axis=1)
    unq_val_table_ren_columns = unq_val_table.rename(
    columns = {0 : 'Unique Values', 1 : '% of Total Values'})
    unq_val_table_ren_columns = unq_val_table_ren_columns[
        unq_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    'Unique Values', ascending=False).round(2)
    print ("Your selected dataframe has " + str(df.shape[0]) + " rows "       
        "and " + str(df.shape[1]) + " columns.")
    return unq_val_table_ren_columns

def date_conversion(df):
    df['created_date'] = pd.to_datetime(df['created_date'])
    return df

def missing_drop_col(df,threshold):
    return df.drop(df.columns[df.apply(lambda col: (col.isnull().sum() / len(df) > threshold))], axis=1)

def unique_values_col(df,threshold):
    return df.drop(df.columns[df.apply(lambda col: (col.isnull().sum() / len(df) > threshold))], axis=1)

In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import itertools
import warnings
warnings.filterwarnings('ignore')

In [128]:
filename2 = '/home/jovyan/work/data/revolut/rev-transactions.csv'
rev_transactions = pd.read_csv(filename2)
df_rev_transactions = rev_transactions.copy()

In [141]:
df=df_rev_transactions.set_index("transaction_id").copy()
df = missing_drop_col(df, 0.4)

In [142]:
df['transStateType']=df['transactions_type'] + "_" +df['transactions_state']

df.drop(columns={'transactions_state','transactions_type','created_date'},inplace = True)
df.head(2)

,transactions_currency,amount_usd,direction,user_id,transStateType
transaction_id,,,,,
transaction_0,AED,4.55,OUTBOUND,user_898,TRANSFER_COMPLETED
transaction_1,AED,15.50,OUTBOUND,user_1652,CARD_PAYMENT_COMPLETED

In [108]:
res = pd.get_dummies(df[['transStateType']])
for col in list(res.columns):
    res[col] = pd.to_numeric(res[col], errors='coerce').astype('Int64')
    
mergedDf = df[['user_id','direction']].merge(res,how='inner' ,left_index=True, right_index=True)

In [109]:
mergedDf.columns

Index(['user_id', 'direction', 'transactions_type_ATM',
       'transactions_type_CARD_PAYMENT', 'transactions_type_CARD_REFUND',
       'transactions_type_CASHBACK', 'transactions_type_EXCHANGE',
       'transactions_type_FEE', 'transactions_type_REFUND',
       'transactions_type_TAX', 'transactions_type_TOPUP',
       'transactions_type_TRANSFER', 'transactions_currency_AED',
       'transactions_currency_AUD', 'transactions_currency_BCH',
       'transactions_currency_BGN', 'transactions_currency_BTC',
       'transactions_currency_CAD', 'transactions_currency_CHF',
       'transactions_currency_CZK', 'transactions_currency_DKK',
       'transactions_currency_ETH', 'transactions_currency_EUR',
       'transactions_currency_GBP', 'transactions_currency_HKD',
       'transactions_currency_HRK', 'transactions_currency_HUF',
       'transactions_currency_ILS', 'transactions_currency_INR',
       'transactions_currency_JPY', 'transactions_currency_LTC',
       'transactions_currency_MAD', 'transactions_currency_MXN',
       'transactions_currency_NOK', 'transactions_currency_NZD',
       'transactions_currency_PLN', 'transactions_currency_QAR',
       'transactions_currency_RON', 'transactions_currency_RUB',
       'transactions_currency_SAR', 'transactions_currency_SEK',
       'transactions_currency_SGD', 'transactions_currency_THB',
       'transactions_currency_TRY', 'transactions_currency_USD',
       'transactions_currency_XRP', 'transactions_currency_ZAR',
       'transactions_state_CANCELLED', 'transactions_state_COMPLETED',
       'transactions_state_DECLINED', 'transactions_state_FAILED',
       'transactions_state_PENDING', 'transactions_state_REVERTED'],
      dtype='object')

In [49]:
mergedDf.groupby(['user_id', 'direction'])['transactions_type_ATM',
       'transactions_type_CARD_PAYMENT', 'transactions_type_CARD_REFUND',
       'transactions_type_CASHBACK', 'transactions_type_EXCHANGE',
       'transactions_type_FEE', 'transactions_type_REFUND',
       'transactions_type_TAX', 'transactions_type_TOPUP',
       'transactions_type_TRANSFER', 'transactions_currency_AED',
       'transactions_currency_AUD', 'transactions_currency_BCH',
       'transactions_currency_BGN', 'transactions_currency_BTC',
       'transactions_currency_CAD', 'transactions_currency_CHF',
       'transactions_currency_CZK', 'transactions_currency_DKK',
       'transactions_currency_ETH', 'transactions_currency_EUR',
       'transactions_currency_GBP', 'transactions_currency_HKD',
       'transactions_currency_HRK', 'transactions_currency_HUF',
       'transactions_currency_ILS', 'transactions_currency_INR',
       'transactions_currency_JPY', 'transactions_currency_LTC',
       'transactions_currency_MAD', 'transactions_currency_MXN',
       'transactions_currency_NOK', 'transactions_currency_NZD',
       'transactions_currency_PLN', 'transactions_currency_QAR',
       'transactions_currency_RON', 'transactions_currency_RUB',
       'transactions_currency_SAR', 'transactions_currency_SEK',
       'transactions_currency_SGD', 'transactions_currency_THB',
       'transactions_currency_TRY', 'transactions_currency_USD',
       'transactions_currency_XRP', 'transactions_currency_ZAR',
       'transactions_state_CANCELLED', 'transactions_state_COMPLETED',
       'transactions_state_DECLINED', 'transactions_state_FAILED',
       'transactions_state_PENDING', 'transactions_state_REVERTED'].apply(lambda x : x.astype(int).sum()).reset_index()

,user_id,direction,transactions_type_ATM,transactions_type_CARD_PAYMENT,transactions_type_CARD_REFUND,transactions_type_CASHBACK,transactions_type_EXCHANGE,transactions_type_FEE,transactions_type_REFUND,transactions_type_TAX,...,transactions_currency_TRY,transactions_currency_USD,transactions_currency_XRP,transactions_currency_ZAR,transactions_state_CANCELLED,transactions_state_COMPLETED,transactions_state_DECLINED,transactions_state_FAILED,transactions_state_PENDING,transactions_state_REVERTED
0,user_0,INBOUND,0,0,2,0,0,0,0,0,...,0,0,0,0,0,61,0,4,0,4
1,user_0,OUTBOUND,7,217,0,0,58,2,0,0,...,0,9,0,0,0,289,20,0,0,11
2,user_1,INBOUND,0,0,1,0,0,0,0,0,...,0,0,0,0,0,32,0,0,0,0
3,user_1,OUTBOUND,0,83,0,0,0,2,0,0,...,0,0,0,0,1,82,11,0,0,3
4,user_10,INBOUND,0,0,3,0,0,0,1,0,...,0,0,0,0,0,131,0,99,0,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36441,user_9997,OUTBOUND,1,28,0,0,0,1,0,0,...,0,0,0,0,1,67,1,0,0,2
36442,user_9998,INBOUND,0,0,1,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,1
36443,user_9998,OUTBOUND,0,5,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,2
36444,user_9999,INBOUND,0,0,0,0,0,0,0,0,...,0,0,0,0,0,11,0,0,0,1
36445,user_9999,OUTBOUND,1,26,0,0,0,1,0,1,...,0,0,0,0,0,67,3,0,0,0